@keyframes vanish-bg {
  0% {
    opacity: 1;
    transform: scale(1.3);
    visibility: visible;
  }
  85% {
    opacity: 1;
    transform: scale(1);
    visibility: visible;
  }
  100% {
    opacity: 0;
    transform: scale(1);
    visibility: hidden;
  }
}

@keyframes appearsFromBottom {
  0% {
    opacity: 0;
    transform: translateY(100%);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

@keyframes appearsFromLeft {
  0% {
    opacity: 0;
    transform: translateX(100%);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

@keyframes appearsFromTop {
  0% {
    opacity: 0;
    transform: translateY(-100%);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

@keyframes vanishToBottom {
  0% {
    opacity: 1;
    transform: translateY(0);
    visibility: visible;
  }
  100% {
    opacity: 0;
    transform: translateY(100%);
    visibility: hidden;
  }
}

@keyframes vanishToLeft {
  0% {
    opacity: 1;
    transform: translateY(0);
    visibility: visible;
  }
  100% {
    opacity: 0;
    transform: translateX(100%);
    visibility: hidden;
  }
}

@keyframes vanishToTop {
  0% {
    opacity: 1;
    transform: translateY(0);
    visibility: visible;
  }
  100% {
    opacity: 0;
    transform: translateY(-100%);
    visibility: hidden;
  }
}

@keyframes appearsFromTopAndVanishDelayIterations {
  0% {
    opacity: 0;
    transform: translate(-50%, -100%);
    visibility: visible;
  }
  25% {
    opacity: 1;
    transform: translate(-50%, -50%);
    visibility: visible;
  }
  50% {
    opacity: 0;
    transform: translate(-50%, 0);
    visibility: hidden;
  }
  100% {
    opacity: 0;
    transform: translate(-50%, 0);
    visibility: hidden;
  }
}
