.center,
.center-column,
.top,
.right,
.bottom,
.left {
  display: flex;
  justify-content: center;
  align-items: center;
}

.center-column {
  flex-direction: column;
}

.top {
  align-items: flex-start;
}
.right {
  justify-content: flex-end;
}
.bottom {
  align-items: flex-end;
}
.left {
  justify-content: flex-start;
}

.single-spaced,
.single-spaced * {
  line-height: 1;
}

@media (max-width: 1024px) {
  .desktop {
    display: none;
  }
}

.animated {
  animation-duration: $showContentDuration;
  animation-timing-function: ease-out;
  animation-fill-mode: forwards;
}

.from-bottom {
  transform: translateY(100%);
  opacity: 0;
}

.from-top {
  transform: translateY(-100%);
  opacity: 0;
}

.from-left {
  transform: translateX(100%);
  opacity: 0;
}
