@import "./settings";
@import "./helpers";
@import "./grid";
@import "./animations";

body {
  background: black;
}

@media (max-width: 768px) {
  :root {
    font-size: 90%;
  }
}

.footer {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  width: 100%;
  background: rgba(0, 0, 0, 0) !important;
  padding: 2rem !important;
}

#map {
  position: absolute;
  height: 101vh;
  width: 100%;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  // background: url("../images/bg-desktop.jpg") center / cover !important;
}

#header {
  position: absolute;
  width: 100%;
  top: 92px;
  @media (max-width: 512px) and (orientation: landscape) {
    top: 52px;
  }
}

#bg-loader {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background: url("../images/bg-desktop.jpg") center / cover !important;

  @media (max-width: 768px) {
    background: url("../images/bg-tablet.jpg") center / cover !important;
  }
  @media (max-width: 512px) {
    background: url("../images/bg-mobile.jpg") center / cover !important;
  }
  animation: vanish-bg 4.2s ease forwards;
  animation-fill-mode: forwards;
}

#logo {
  max-width: 10rem;
}

a.navbar-item:hover {
  color: black !important;
}

#modal {
  display: none;
}
#modal:target {
  display: flex;
}

.modal-content {
  @media (max-width: 768px) {
    padding-left: 1rem;
    padding-right: 1rem;
  }
}

$btn-border: 1px solid gray;

.button {
  box-shadow: 0 0 0 0.05rem white,
    // adds small blur to the border edges
      0 0 1px 0.07rem white,
    inset 0 0 1px 1px white;
}

#footer-controls {
  .button {
    min-width: 9rem;
    // box-shadow: 0 0 0 0.1rem white;
  }
  #d {
    border-left: $btn-border;
  }
  @media (max-width: 512px) {
    #e {
      border-left: $btn-border;
    }
    .button {
      min-width: 9.5rem;
    }
  }
}

#zoom-controls {
  position: absolute;
  right: 1.5rem;
  top: 50%;
  transform: translateY(-50%);
  max-width: 2rem;
}

#go-down-caret {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translateX(-50%);
  color: white;
  animation-iteration-count: infinite;
  animation-delay: 2.5s;
  animation-duration: 3s;
  animation-timing-function: linear;
  @media (max-width: 512px) {
    animation-name: appearsFromTopAndVanishDelayIterations;
  }
}
